*{
  margin: 0;
  padding: 0;
}
.root-body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0b1929;
}

.root-box {
    width: 300px;
    height: 260px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
}

.root-box i{
  font-size: 40px;
}
.root-box p{
  font-size: 18px;
  letter-spacing: 1px;
}



.root-box2 {
  width: 300px;
  background-color: white;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root-box2 .show-link{
  width: 100%;
  height: 30px;
  padding: 5px;
  box-sizing: border-box;
}

button{
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  background-color: #006BD8;
  color: white;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
}

.canvas{
  height: 100px;
  width: 100px;
  background-color: black;
  margin-top: 10px;
}